src/main/java/wsdls/Edwin.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="Edwin" targetNamespace="http://www.example.org/Edwin/" xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/Edwin/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/Edwin/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Edwin/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="mensaje" type="xsd:string"/>
      <xsd:element name="mensajeResponse" type="xsd:string"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="getMensajitoRequest">
    <WL5G3N0:part element="WL5G3N1:mensaje" name="mensaje"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getMensajitoResponse">
    <WL5G3N0:part element="WL5G3N1:mensajeResponse" name="mensaje"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="Edwin_PortType">
    <WL5G3N0:operation name="mensajito">
      <WL5G3N0:input message="WL5G3N1:getMensajitoRequest"/>
      <WL5G3N0:output message="WL5G3N1:getMensajitoResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="Edwin_Binding" type="WL5G3N1:Edwin_PortType">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="mensajito">
      <WL5G3N2:operation soapAction="mensajito"/>
      <WL5G3N0:input>
        <WL5G3N2:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="Edwin_Servicesss">
    <WL5G3N0:port binding="WL5G3N1:Edwin_Binding" name="Edwin_Port">
      <WL5G3N2:address location="http://www.example.org/mensajito/"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>